langchain
ipykernel
langchain-community
pypdf
langchain-text-splitters
python-dotenv
sentence_transformers
langchain_huggingface
faiss-cpu
streamlit
ollama
langsmith
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
bs4
arxiv
wikipedia
duckduckgo-search
validators==0.28.1
youtube_transcript_api
unstructured
numpy 
spicy
pytube
huggingface_hub ## API Calls
gradio